<div class="SC-Menu_item tier1 mega sc-hide-up-to-large">
  <span class="SC-Menu_link sc-cursor-pointer" data-toggle-visibility="sc-header_search">
  {% render 'shared/icons/search', style_class: 'sc-pointer-events-none', height: '1.25em' %}
</div>
