:root {
  --sc-header-bg: white;
  --sc-header-color: var(--sc-shade-darkest);
  --sc-menu-link-color-hover: var(--sc-shade-dark);
  --sc-footer-bg: #FCFCFC;
  --sc-footer-color: hsl(222, 71%, 12%);
  --sc-font-family: "Inter", apple-system, BlinkMacSystemFont, sans-serif;
  --sc-font-family-secondary: "Rubik", apple-system, BlinkMacSystemFont, sans-serif;
  --sc-border-radius: 0;
  --sc-border-rounded: 7px;
  --sc-border-width: 2px;
  --sc-border-width-md: 720px;
  --sc-max-width-lg: calc(1190px + 60px);
  --sc-max-width: calc(1190px + 60px);
  --sc-max-width-skinny: 760px;
  --sc-line-height: 1.5;
  --sc-grid-gap: var(--sc-spacing-xlarge);
}

body {
  font-size: var(--sc-font-medium);
}

ul {
  font-family: var(--sc-font-family-secondary);
}

h1:not([class]) {
  font-size: 1.5em;
}
@media screen and (min-width: 992px) {
  h1:not([class]) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.25em;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 768px) {
  .sc-one-third-two-thirds {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .sc-two-thirds-one-third {
    grid-template-columns: 1fr;
  }
}

.SC-ArticleCard_image {
  height: 100%;
}
.SC-ArticleCard_image img {
  height: 100%;
  object-fit: cover;
}
.SC-ArticleCard_data {
  color: white;
  top: 50%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .SC-ArticleCard_data {
    top: 25%;
  }
}
.SC-ArticleCard_heading, .SC-ArticleCard_date {
  color: currentColor;
}
.SC-ArticleCard_overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.SC-Article_heading {
  font-size: var(--sc-font-huge);
}
@media screen and (min-width: 992px) {
  .SC-Article_heading {
    font-size: var(--sc-font-gigantic);
  }
}

.SC-Banner {
  background-position: center;
}
.SC-Banner_subheading {
  color: currentColor;
}
.SC-Banner_overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.SC-Banner.offset, .SC-Banner.hero_image {
  color: white;
}
@media screen and (min-width: 768px) {
  .SC-Banner_container.sc-bottom {
    justify-content: flex-start;
    transform: translateX(5%);
  }
}
@media screen and (min-width: 768px) {
  .SC-Banner_container.sc-bottom .SC-Banner_content {
    align-self: flex-end;
    bottom: var(--sc-spacing-xlarge);
  }
}
.SC-Banner_cta {
  background-color: white;
  color: var(--sc-color-primary);
  border: 1px solid white;
  border-radius: 25px;
  transition: all 0.35s ease-in-out;
}
.SC-Banner_cta:hover {
  background-color: var(--sc-color-primary);
  color: white;
  border-color: var(--sc-color-primary);
}

.SC-ContentBlockContainer.offset {
  background-color: hsla(var(--sc-color-primary-h), var(--sc-color-primary-s), 92%, 1);
}

.sc-header {
  background-color: var(--sc-header-bg);
  border-bottom: 1px solid rgba(30, 35, 37, 0.1);
  z-index: var(--sc-depth-floating);
}
@media screen and (min-width: 992px) {
  .sc-header {
    color: var(--sc-header-color);
  }
}
.sc-header_top {
  background-color: #000000;
  font-size: 13px;
}
.sc-header_top_inner {
  position: relative;
}
.sc-header_search.is-hidden {
  position: relative;
  transition: all 2s ease;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease, padding 0.3s ease;
  padding: 0;
  display: block;
  height: 0;
}
.sc-header_search:not(.is-hidden) {
  visibility: visible;
  max-height: 85px;
  opacity: 1;
  padding-top: var(--sc-spacing-medium);
  transition: all 0.5s;
  height: auto;
}
.sc-header_wrapper {
  width: 100%;
  transition: 0.35s;
}
.sc-header_wrapper.sticky {
  position: fixed !important;
  top: 0;
  max-width: 100%;
  transition-duration: 1s;
  background: var(--sc-header-bg);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.sc-header-transparency {
  background-color: transparent;
}

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
.SC-Hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #e5e7e0;
}
.SC-Hero_container {
  min-height: 85vh;
  height: 100%;
  margin: 0 auto;
  max-width: var(--sc-max-width-md);
  display: flex;
  flex-direction: column;
  gap: var(--sc-spacing-xlarge);
  padding: var(--sc-spacing-xlarge) var(--sc-spacing-small);
  position: relative;
  justify-content: center;
  z-index: var(--sc-depth-neutral);
}
@media screen and (min-width: 768px) {
  .SC-Hero_container {
    min-height: 100vh;
    padding-left: var(--sc-spacing-large);
    padding-right: var(--sc-spacing-large);
    padding-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .SC-Hero_container {
    max-width: 1280px;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .SC-Hero_container.sc-left {
    justify-content: flex-start;
  }
}
.SC-Hero_container.sc-right {
  justify-content: flex-end;
  text-align: right;
}
.SC-Hero_content {
  position: relative;
  align-self: flex-end;
}
@media screen and (min-width: 768px) {
  .SC-Hero_content {
    align-self: center;
  }
}
@media screen and (min-width: 992px) {
  .SC-Hero_content {
    max-width: 70%;
  }
}
.SC-Hero_heading {
  font-size: min(max(3rem, 3.5vw), 3rem);
  line-height: 1.15;
}
.SC-Hero_subheading {
  font-size: var(--sc-font-large);
  color: var(--sc-shade-dark);
  line-height: 1.5;
}
.SC-Hero_cta {
  display: inline-block;
  background-color: var(--sc-shade-darkest);
  border: 2px solid var(--sc-shade-darkest);
  border-radius: var(--sc-border-radius);
  color: white;
  font-size: var(--sc-font-medium);
  font-weight: var(--sc-font-normal);
  margin-top: var(--sc-spacing-base);
  padding: var(--sc-spacing-medium) var(--sc-spacing-large);
}
.SC-Hero_image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .SC-Hero_image {
    max-width: 45%;
  }
}
.SC-Hero_overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.SC-Image {
  height: 100%;
  width: 100%;
}
.SC-Image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.SC-Image_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--sc-depth-neutral);
}
.SC-Image_arrow {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #1e3050;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  z-index: var(--sc-depth-foreground);
}
.SC-Image .SC-ImageLink {
  height: 100%;
  width: 100%;
}

.sc-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.SC-PageHeader_wrapper {
  max-width: var(--sc-max-width);
}
@media screen and (min-width: 768px) {
  .SC-PageHeader_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    text-align: center;
  }
}
.SC-PageHeader_heading {
  line-height: 1.1;
}
.SC-PageHeader_heading, .SC-PageHeader_subheading {
  color: currentColor;
}

.SC-Menu.dropdown {
  transition: 0.3s;
}
.SC-Menu .tier1.dropdown > li > a:not(.Icon) > .SC-Menu_link {
  color: currentColor;
  opacity: 0.85;
}
.SC-Menu.dropdown:not(.tier1) {
  padding: var(--sc-spacing-base) var(--sc-spacing-large);
}
.SC-Menu.dropdown:not(.tier1), .SC-Menu.mega {
  color: initial;
}
.SC-Menu.mega, .SC-Menu_link {
  transition: 0.3s;
}
.SC-Menu.mega {
  z-index: var(--sc-depth-foreground);
}
.SC-Menu_button {
  color: inherit;
}

@media screen and (max-width: 992px) {
  .SC-Menu.dropdown:not(.SC-Cart) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--sc-header-bg);
    color: var(--sc-header-color);
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    padding: var(--sc-spacing-large);
    opacity: 0;
    pointer-events: none;
    z-index: var(--sc-depth-overlay);
    transform: scale(0.9);
    transition: 100ms transform ease, 100ms opacity ease;
    margin-left: 0;
    margin-right: 0;
  }
  .SC-Menu.dropdown.is-active {
    opacity: 1;
    pointer-events: inherit;
    transform: scale(1);
  }
  .SC-Menu.tier1.dropdown {
    margin-left: 0;
    margin-right: 0;
  }
  .SC-Menu.tier2.dropdown.is-active,
  .SC-Menu.tier3.dropdown.is-active {
    box-shadow: none;
  }
  .SC-Menu_button {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .SC-Menu.tier1.dropdown.end {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .SC-Menu.tier1.dropdown.end > li:last-child a {
    padding-right: 0;
  }
}

.SC-Count {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .SC-Count {
    top: -3px;
    right: -10px;
  }
}
@media screen and (min-width: 1268px) {
  .SC-Count {
    position: initial;
  }
}

.sc-container:not(.sc-container-capsule),
.sc-container:not(.sc-container-spacious) {
  max-width: var(--sc-max-width-md);
}
@media screen and (min-width: 992px) {
  .sc-container:not(.sc-container-capsule),
  .sc-container:not(.sc-container-spacious) {
    max-width: var(--sc-max-width-lg);
  }
}

.SC-Footer {
  border-top: 12px solid #081535;
}

@media screen and (max-width: 992px) {
  .SC-ImageBesideText {
    gap: var(--sc-spacing-base);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .SC-ImageBesideText {
    align-items: start;
  }
}
@media screen and (min-width: 768px) {
  .SC-ImageBesideText_image {
    flex-basis: 58%;
  }
}

.SC-ContentBlockContainer {
  padding: var(--sc-spacing-base);
}
@media screen and (min-width: 768px) {
  .SC-ContentBlockContainer {
    padding: var(--sc-spacing-xlarge) var(--sc-spacing-base);
  }
}
@media screen and (min-width: 992px) {
  .SC-ContentBlockContainer {
    padding: var(--sc-spacing-xlarge) 0;
  }
}

.SC-Menu_item.tier2 > a {
  padding-top: var(--sc-spacing-small) !important;
  padding-bottom: var(--sc-spacing-small) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

@media screen and (min-width: 1440px) {
  .SC-CardGrid.is-offset-by-sidebar {
    grid-template-columns: repeat(3, 1fr);
  }
}

.SC-HeadingLink h2,
.SC-HeadingLink h3,
.SC-HeadingLink h4 {
  font-weight: var(--sc-font-bold);
  font-size: var(--sc-font-large);
}

.sc-theme-preview-bar {
  z-index: 5;
}

.SC-PageNav_heading {
  font-size: var(--sc-font-base);
}

.SC-PageNav_link {
  font-size: var(--sc-font-small);
}

.SC-Menu.mega {
  border-radius: var(--sc-border-radius);
}

.SC-Menu.dropdown:not(.tier1) {
  border-radius: var(--sc-border-radius);
}

.sc-center-text {
  text-align: center;
}

.slide-down {
  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}
.slide-down-trigger:hover .slide-down {
  transform: scaleY(1);
}

.sc-bg-primary {
  background-color: var(--sc-color-primary);
}
.sc-bg-transparent {
  background-color: transparent;
}

.sc-color-white {
  color: white;
}

.sc-max-width {
  max-width: var(--sc-max-width-md);
}
@media screen and (min-width: 992px) {
  .sc-max-width {
    max-width: var(--sc-max-width-lg);
  }
}
.sc-max-width-skinny {
  max-width: var(--sc-max-width-skinny);
}

.sc-height-100 {
  height: 100%;
}

@media screen and (max-width: 1268px) {
  .sc-hide-up-to-xlarge {
    display: none;
  }
}

@media screen and (min-width: 1268px) {
  .sc-hide-xlarge-and-up {
    display: none;
  }
}

.sc-inline-flex {
  display: inline-flex;
}

.sc-align-items-end {
  align-items: end;
}

@media screen and (min-width: 768px) {
  .sc-md\:justify-self-center {
    justify-self: center;
  }
}

.sc-h1 {
  font-size: 2.5em;
}
@media screen and (min-width: 768px) {
  .sc-h1 {
    font-size: 3.5em;
  }
}

.sc-image-ease-out {
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.sc-image-ease-out:hover {
  transform: scale(1.03);
}
.sc-image-aspect-ratio-1 {
  aspect-ratio: 1/1;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.sc-line-height {
  line-height: 1.5;
}

.sc-right-0 {
  right: 0;
}

.sc-p-none {
  padding: 0;
}

.tns-controls button {
  width: 40px;
  height: 40px;
  border-radius: var(--sc-border-radius);
  background-size: 35%;
}
.tns-controls button:hover {
  background-color: transparent;
}

.tns-cards .tns-controls button {
  top: 0;
}
@media screen and (min-width: 768px) {
  .tns-cards .tns-controls button[data-controls=prev] {
    left: unset;
    right: 80px;
  }
}

.sc-rotate-270 {
  transform: rotate(270deg);
}

/*# sourceMappingURL=theme-supplement.css.map */
